
#main{
    width: 100%;
    height: 100%;
    margin-top: 50px;   
    text-align: center;
    position: absolute;
}
input, select, textarea{
    margin: 2px;
    padding: 4px;
    border: 1px black solid;
    border-radius: 1px;
}
form{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form-item{
    display: flex;
    flex-direction: column;
    width: 200px;
}
input:focus{
    outline: none;
}
button{
    width: 100px;
}
#block{
    font-size: 150%;
    width: 400px;
}
#alertDiv{
    display: flex;
    padding-bottom: 5px;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    font-size: 200%;
    background-color: white;
    border: 2px red solid;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 60%;
}